@model CargueHonorarios.Models.ISH
@using System.Web.UI.WebControls;

@{
    ViewBag.Title = "Cargue HonorariosISH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />

@*<h5 class = "text-center">Cargue HonorariosSD</h5>*@

@{var ListItems = new List<ListItem> { 
        new ListItem { Text = "Enero", Value = "Enero" }, 
        new ListItem { Text = "Febrero", Value = "Febrero" },
        new ListItem { Text = "Marzo", Value = "Marzo" },
        new ListItem { Text = "Abril", Value = "Abril" },
        new ListItem { Text = "Mayo", Value = "Mayo" },
        new ListItem { Text = "Junio", Value = "Junio" },
        new ListItem { Text = "Julio", Value = "Julio" },
        new ListItem { Text = "Agosto", Value = "Agosto" },
        new ListItem { Text = "Septiembre", Value = "Septiembre" },
        new ListItem { Text = "Octubre", Value = "Octubre" },
        new ListItem { Text = "Noviembre", Value = "Noviembre" },
        new ListItem { Text = "Diciembre", Value = "Diciembre" } 
        };
}


<div class="container">

    <br />
    <br />
    @using (Html.BeginForm("CargueHonorariosISH", "CargueHonorariosISH", FormMethod.Post, new { enctype = "multipart/form-data" }))

    {
        @Html.ValidationSummary(true)

        <fieldset>
            <div class="row justify-content-start">
                @*<div class="col-3" style="text-align:center">

<img src="~/Contents/image/cuenta.png" >
</div>*@
                <div class="col-12">
                    <div class="card ">
                        <div class="card-header text-white" style="background-color: #3a6a98">Cargue Honorarios Evento (ISH)</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6" >
                                    <div class="editor-label">
                                    Mes
                                </div>
                                   <div class="editor-field">
                                    @Html.DropDownListFor(model => model.Mes, new SelectList(ListItems, "Value", "Text"),"Seleccione...", htmlAttributes: new { @class = "form-control", autocomplete = "off"})
                                    @Html.ValidationMessageFor(model => model.Mes)
                                </div>
                            </div>
                            <div class="col-6" >
                                <div class="editor-label">
                                    Año
                                </div>
                                <div class="editor-field">
                                    @*@Html.EditorFor(model => model.anio)*@
                                    @Html.TextBox("Anio", null, htmlAttributes: new { @class = "form-control", autocomplete = "off", placeholder = "año" } )
                                    @Html.ValidationMessageFor(model => model.Anio)
                                </div>
                               </div>
                                  
                                <br />
                                <div class="col-12">
                                    <br />
                                    <div class="editor-field">
                                        <input type="file" name="file" />
                                    </div>
                                </div>

                        </div>
                    </div>              
                    <div class="row justify-content-center">
                        <div class="col-6 " style="text-align: end">
                            <button type="submit" class="btn btn-success" style="color: white">Subir archivo</button>
                        </div>
                        <div class="col-6">
                            @Html.ActionLink("Atras", "Index", "Login", null, new { @class = "btn btn-success", style = "color:white" })
                         
                        </div>
                           <br />
                           <br />
                    </div>
                </div>
            </div>
                </div>
        </fieldset>
      }
    </div>


